 hr { 
        background-color: rgb(232,232,232); 
        height: 1px; 
        border: 0;
        margin:0px;
     }

    .postButton{
        background-color:rgb(232, 232, 232);
        border:0;
        height:100%;
        margin:0;   
    }

    .postButton:focus {
        outline: none; 
    }

    .postButton:hover{
        background-color:rgb(212, 212, 212); 
        -moz-transition: width 0.2s ease-in-out;
		-ms-transition: width 0.2s ease-in-out;
		-o-transition: width 0.2s ease-in-out;
		-wsebkit-transition: width 0.2s ease-in-out;
		transition: width 0.2s;
    }  

    .postHeading{
        color:white;
        width:100%;
        margin:0px;
    }

    .post{
        outline:1px solid rgb(232,232,232);
    }

    .post h1, h2, h3, h4, h5, h6{
        margin:0px;
        padding:15px;
    }

    .postContent{
        background-color:white;
        width:100%;
        margin:0px;
        text-align:left;
    }

    .postText{
        padding:15px;color:grey
    }

    .postTextBox{
        background-color:rgb(245,245,245);
        border:0;
        height:100%;
        margin:0; 
        height:5px;
        padding:15px;
        width:100%;
    }


    .postTextBox[type="password"]{
        /*for some reason, post text boxes need there own special styling*/
        background-color:rgb(245,245,245);
        border:0;
        height:30px;
        margin:0;   
        padding:0px;
        width:100%;
        padding-left: 15px;
    }

    .postTextBox:focus {
        outline: none; 
    }

    .bumpText active{
        color:#00E676
    }

    .bumpText active{
        color:black;
    }


    .bumpText:hover{
        color:#00E676;
        cursor: pointer;
        text-decoration: underline;
    }