    <style>
        body {
            margin: 0;
            background-color:rgb(249, 249, 249);
            font-family:sans-serif;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: #ae59f3; /*controls banner color*/
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: #ffffff;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-family:sans-serif;
        }

        li a:hover:not(.active) {
            background-color: #8e46c9;
        }

    </style>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<link rel="stylesheet" href="/fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/PostStyle.css">
<div style="height:45px;margin-bottom:50px;position:fixed;width:100%"> 
    <ul>
        <b>
            <li><a href="/leaderboard">Leaderboard</a></li>
            <li><a href="/post">Post</a></li>
            <li><a href="/all">All</a></li>
            <li style="float:left;"  id="searchButton"><a onClick="makeSearch()">Search</a></li>

            <li style="float:right"><a href="/profile">Profile</a></li>
   
            <!--
            <li><input name="search" type="text" class="postTextBox" style="margin-top:7px;background-color:#8e46c9;color:white;width:100%;" placeholder="search for post" id="searchBar" onkeypress="answer(event)"></li>
            -->
        </b>
    </ul>
</div>
<br><br><br><br>
    <script>
        function answer2(e){
            if(e.keyCode == 13) {
                window.location.href = "/search?q=" + document.getElementById("searchBox").value;
            }
        }
        function makeSearch(){
            $('#searchButton').hide().html('<input id="searchBox" name="search" type="text" class="postTextBox" style="margin-top:7px;background-color:#8e46c9;color:white;width:100%;" placeholder="search for post" id="searchBar" onkeypress="answer2(event)">').fadeIn('fast');
            $("#searchButton").css({"width":"75%"});
            $("#searchBox").focus();
        }
    </script>