<%- include('navbar.ejs') %>
<html>
    <head> 
        <script type="text/javascript" src="/socketio.js"></script>
        <link rel="stylesheet" type="text/css" href="/PostStyle.css">
        <title>Write a question</title>
    </head>
    <body style="background-color:rgb(249, 249, 249);font-family:sans-serif;    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
        <center>
            <div id="post">
                <div class="post" style="width:50%;">
                    <div class="postHeading" style="background-color:#8e46c9;">
                        <h2 align="center">Create a post!</h2>
                    </div>
                    
                    <div id="postHeading" style="padding:10px;background-color:#ae59f3;display:none"></div>

                    <div id="content">
                        <hr>
                        <input id="title" type="text" placeholder="Post title!"  class="postTextBox">
                        <hr>
                        <input id="tags" type="text" placeholder="Post tags go here (optional)"  class="postTextBox">
                        <hr>
                        <textarea id="postContent" class="postTextBox" style="height:15%" placeholder="All of your beautiful tiny questions go here!"></textarea>
                    </div>
                </div>type
                <br>
                <input class="postButton" id="postButton" style="height:5%;width:50%;" type="button" value="Submit" onClick="submit()">
            </div>
        </center>
    </body>
</html>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    socket = io();
    function submit(){
		title=document.getElementById("title");
		tags=document.getElementById("tags");
        content=document.getElementById("content");
        socket.emit('submit',{
            title:title.value,
            tags:tags.value,
            content:postContent.value,
            url:Math.random(), 
            sid:"<%=sessionID%>"
	    }); 
    }

    socket.on('postSent', function(msg){
		//alert(msg.message);

        $("#content").slideToggle(200, function () {

            /*
            $("content").text(function () {
                //change text based on condition
                return $content.is(":visible") ? "Collapse" : "Expand";
            });*/
            
            $("#postButton").hide("fast");
            $("#postHeading").html("View your post at <a href='/q/"+msg.url+"'>tinyspace.co/q/"+msg.url+"</a> !");
            
            $("#postHeading").slideToggle(200, function () {
                
            });
        });

	});

	socket.on('postError', function(msg){
		alert(msg.message);
	});

</script>