<div class="post" style="width:30%;">
    <!--div class="postHeading" style="background-color:#03A9F4;"-->
    <div class="postHeading" style="background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);">
        
        <h2 align="center"><%=data.title%></h2>
    </div>
    <div class="postContent">
        <div class="postText">
            <%=data.content%>
        </div>
    </div>
</div>