<%- include('navbar.ejs') %>

<html>
    <head>
        <title>test</title>
        <style>
           .test{
               color:white;
            }
        </style>
    </head>
    <body style="">
        <aside style="width:30%;float:left">
            <div class="test" style="background-color:red">aside<br></div>
        </aside>
        <section style="float:right;width:70%">
            <center>
               <div class="test" style="background-color:green">section<br></div>
            </center>
        </section>
        
    </body>
</htm>