<%- include('navbar.ejs') %>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/PostStyle.css">
        <title><%=user%></title>
    </head>
    <body>
        <center>
            <% content.forEach(function(i){ 
                if (typeof i.tags !== 'undefined') {%>
                    <%- include('renderPost.ejs', {data: i}); %><br>
            <%  }else{ %>
                    <%- include('renderAnswer.ejs', {data: i,body:true}); %><br>
              <% } 
            });
            %>
        </center>
    </body>
</html>