<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/PostStyle.css">
        <title><%=user%></title>
    </head>
    <body>
        <center>
            <%=user%>
        </center>
    </body>
</html>